<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} - Dein Projektname</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Dein Projektname</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Startseite</a>
				<a href="{{ url_for('profil') }}"><i class="fas fa-user-circle"></i>Profil</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Abmelden</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
	<footer>
		<nav class="footbar">
			<div>
				<h1>© iTsMaho - 2020</h1>
                <a href="{{ url_for('home') }}">Impressum</a>
				</div>
		</nav>
	</footer>
</html>